---
layout: page
title: Eventos
---

			<ul class="timeline">
			{% for post in site.posts %}
			{% assign loopindex = forloop.index | modulo: 2 %}
			{% capture class %}
				{% if loopindex == 0 %}
					timeline-inverted
				{% endif %}
			{% endcapture %}
				<li class="{{ class }}">
					<div class="timeline-image">
						<div class="circular" onclick="document.getElementById('photo-modal').style.display = 'block';document.getElementById('modal-img').src = '{% if post.image %}{{ post.image }}{% else %}{{site.career-img}}{% endif %}';document.getElementById('caption').innerHTML = '{{ post.title }}';" style = "background-image: url({% if post.image %}{{ post.image }}{% else %}{{site.career-img}}{% endif %});">
							<img src="{% if post.image %}{{ post.image }}{% else %}{{site.career-img}}{% endif %}" alt="">
						</div>
					</div>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4>{{post.timeline-date}}:</h4>
							<h5 class="subheading">{{ post.title }}</h5>
						</div>
						<div class="timeline-body">
							<p class="text-muted">{{ post.content }}</p>
						</div>
					</div>
				</li>

			{% endfor %}

				<li class="timeline-inverted">
					<div class="timeline-image">
						<img class="img-circle img-responsive" src="{{ site.career-img }}" alt="">
					</div>
				</li>
			</ul>
			
			<div id="photo-modal" class="modal">
			  <span class="close" onclick="document.getElementById('photo-modal').style.display = 'none';">×</span>
			  <img class="modal-content" id="modal-img">
			  <div id="caption"></div>
			</div>
